body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  list-style: none;
  padding: 0px;
}

.header {
  background-color: rgb(79, 179, 212);
}

.navbar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  position: static;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 30px;
  font-size: 1.4em;
  font-weight: 300;
}

.navbar-links {
  margin-right: 30px;
  cursor: default;
}

.navbar-links a {
  color: white;
  padding: 0px 10px;
  text-decoration: none;
  font-size: 1.0em;
  font-weight: 100;
}

.after-header {
  text-align: center;
  margin-top: 50px;
}

.after-header h2 {
  font-size: 2.2em;
  font-weight: 300;
  font-variant: small-caps;
  color: rgb(0, 0, 90);
}

.todo-list {
  background-color: #25b5fe;
  color: white;
  text-align: center;
}

.todo-list li:nth-child(2n) {
  background-color: #0086c9;
}

.done-tasks {
  background-color: #6dec76;
  color: white;
}

.done-tasks li:nth-child(2n) {
  background-color: #4ddc56;
}

.ongoing a {
  color: white;
  text-decoration: none;
  padding: 0px 20px;
  font-size: 2rem;
}

.ongoing {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.finished {
  margin: 0;
  display: flex;
  justify-content: center;
}

.finished a {
  display: none;
}

.after-section {
  margin-top: 250px;
}

.after-section h2 {
  font-size: 2.2em;
  font-weight: 300;
  font-variant: small-caps;
  color: rgb(0, 0, 90);
  text-align: center;
}

#addButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

#addButton a {
  background-color: #22a3e4;
  padding: 10px 20px;
  margin-top: 20px;
  color: white;
  text-decoration: none;
  font-size: 1.4em;
}

#addButton a:hover {
  transition: 500ms;
  background-color: #1d8fc8;
}

#addButton input {
  margin: 20px 0px;
  width: 300px;
  font-size: 2em;
  display: none;
}

a {
  cursor: pointer;
}