<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/style.css" />
  <script src="/app.js" defer></script>
</head>

<body>
  <header class="header">
    <nav class="navbar">
      <a href="/">Todo App</a>
      <div class="navbar-links">
        <a href="/">Home</a>
        <a href="">About</a>
        <a href="/support">Support</a>
        <a href="/login">Login</a>
      </div>
    </nav>
  </header>
  <section class="about">
    <p>This simple Todo app was made by Marin Valenta aka valyy151</p>
    <p>The goal was to learn and implement Javascript and ExpressJS.
      If you want to see more personal projects, see GitHub below:
    </p>
    <p></p>
    <div class="aboutDiv">
      <a href="https://www.linkedin.com/in/marin-valenta-28b1b5261/">LinkedIn</a>
      <a href="https://github.com/valyy151">GitHub</a>
    </div>
  </section>
</body>