<div class="after-header">
  <h2>your tasks for today:</h2>
</div>
<section class="todo-list">
  <ul id="ongoingTasks">

  </ul>
</section>
<div id="addButton"><a href="#" id="aButton">Add a Task</a>
  <input type="text">
</div>
<div class="after-section">
  <h2>completed tasks:</h2>
</div>
<section class="done-tasks">
  <ul id="doneTasks">

  </ul>
</section>